.sidebar {
	width: 100%;
	position: fixed;
	padding: 2rem;
	background-color: rgba(0, 0, 0, 0.5);
	z-index: 100;
}
.sidebar p {
	color: white;
}
.headerWrapper {
	display: flex;
	flex-direction: row;
}
.menuTrigger,
.menuTrigger span {
  display: inline-block;
  transition: all .4s;
  box-sizing: border-box;
}
.menuTrigger {
  position: relative;
  width: 2em;
  height: calc(2em - 8px);
}
.menuTrigger span {
  position: absolute;
  left: 0;
  width: 100%;
  height: 4px;
  background-color: #fff;
  border-radius: 4px;
}
.menuTrigger span:last-child {
	bottom: 0;
}
@media screen and (min-width: 768px) {
	.menuTrigger {
		display: none;
	}
}
.hamburgerMenu {
	
}
.siteTitle {
	font-size: var(--font-sm);
	text-decoration: none;
	color: white;
}
.siteTitle > h1 {
	margin: 0;
	font-size: 2rem;
}
navigation {
	display: none;
}
@media screen and (min-width: 768px) {
	navigation {
		display: block;
	}
}
.navList {
	margin: 0;
	list-style: none;
}
.navItems {
	display: inline;
	padding-left: 0;
}
.navItems a {
	text-decoration: none;
	color: white;
	transition: .3s;
}
.navItems a:hover {
	color: red;
}
.navItems a.active {
	color: red;
}
@media screen and (min-width: 640px) {
	.sidebar {
		width: 100%;
	}
}
@media screen and (min-width: 768px) {
	.sidebar {
		width: 100%;
		height: 100%;
		padding: 3rem;
		position: relative;
	}
	.headerWrapper {
		flex-direction: column;
	}
	.navItems {
		display: block;
	}
}