.sidebar {
	width: 100%;
	position: fixed;
	padding: 2rem;
	background-color: rgba(0, 0, 0, 0.5);
	z-index: 100;
}
.sidebar p {
	color: white;
}
.header-wrapper {
	display: flex;
	flex-direction: row;
}
.site-title {
	font-size: var(--font-sm);
	text-decoration: none;
	color: white;
}
.site-title > h1 {
	margin: 0;
}
navigation {
	display: none;
}
@media screen and (max-width: 768px) {
	.menu-trigger,
	.menu-trigger span {
	  display: inline-block;
	  transition: all .4s;
	  box-sizing: border-box;
	}
	.menu-trigger {
	  position: relative;
	  width: 2em;
	  height: calc(2em - 8px);
	}
	.menu-trigger span {
	  position: absolute;
	  left: 0;
	  width: 100%;
	  height: 4px;
	  background-color: #fff;
	  border-radius: 4px;
	}
	.menu-trigger span:last-child {
		bottom: 0;
	}
}
.nav-list {
	margin: 0;
	list-style: none;
}
.nav-items {
	display: inline;
	padding-left: 0;
}
.nav-items a {
	text-decoration: none;
	color: white;
}
@media screen and (min-width: 640px) {
	.sidebar {
		width: 100%;
	}
}
@media screen and (min-width: 768px) {
	.sidebar {
		width: 100%;
		height: 100%;
		padding: 3rem;
		position: relative;
	}
	.header-wrapper {
		flex-direction: column;
	}
	.nav-items {
		display: block;
	}
}
@media screen and (min-width: 1024px) {
	.sidebar {
		width: 320px;
	}
}
@media screen and (min-width: 1280px) {
	.sidebar {
		width: 375px;
	}
}