.sidebar {
	width: 100%;
	position: fixed;
	padding: 1.0rem;
	background-color: rgba(0, 0, 0, 0.85);
	z-index: 100;
	word-break: keep-all;
	display: flex;
}
@media screen and (min-width: 1024px) {
	.sidebar {
		position: relative;
		top: 0;
		height: 100%;
		padding: 3rem;
	}
}
.sidebar p {
	color: white;
}
.headerWrapper {
	display: flex;
	/* flex-direction: row; */
}
@media screen and (min-width: 1024px) {
	.headerWrapper {
		position: fixed;
		flex-direction: column;
	}
}
.siteTitle {
	z-index: 2;
	top: 6px;
	margin-left: 10px;
	text-decoration: none;
	color: white;
	transition: .4s;
}
.siteTitle > h1 {
	margin: 0;
	font-size: 1.75rem;
}
@media screen and (min-width: 1024px) {
	.siteTitle {
		margin-left: 0;
	}
	.siteTitle > h1 {
		margin-bottom: 1rem;
	}
}
.navWrapper {
	z-index: 1;
	position: absolute;
	top: 0;
	left: 0;
	opacity: 0;
	padding: 32px 64px;
	width: 100vw;
	height: 100vh;
	max-height: 0;
	transition: all .3s ease-in-out;
}
@media screen and (min-width: 1024px) {
	.navWrapper {
		opacity: 1;
		position: static;
		width: 100%;
		margin: 0;
		padding: 0;
	}
}
.navList {
	opacity: 0;
	margin: 0;
  display: none;
  transition: .1s;
}
@media screen and (min-width: 1024px) {
	.navList {
		display: block;
		opacity: 1;
		color: white;
	}
}
.navItems {
	display: inline;
	padding-left: 0;
	margin-bottom: 1.5rem;
}
.navItems a {
	text-decoration: none;
	color: black;
	transition: 0.5s;
	font-size: 1.25rem;
}
.navItems a:hover {
	color: red;
}
.navItems a.active {
	color: red;
}
@media screen and (min-width: 1024px) {
	.navItems {
		display: block;
	}
	.navItems a {
		color: white;
		font-size: var(--font-md);
	}
}
/* <--------- 햄버거 메뉴 */
.hamburgerIcon {
	z-index: 2;
	position: relative;
}
@media screen and (min-width: 1024px) {
	.hamburgerIcon {
		display: none;
	}
}
.hamburgerCheck {
	display: none;
}
.hamburgerIcon span {
	width: 20px;
	height: 2px;
	margin: 6px 6px 10px 6px;
	
	display: block;
	box-sizing: border-box;
	background-color: #fff;
	border-radius: 1px;
	transition: all .4s;
}
.hamburgerIcon span:last-child {
	margin-bottom: 6px;
}
.hamburgerCheck:checked~.navWrapper {
	opacity: 1;
	max-height: 100vh;
	background-color: white;
	transition: all .5s;
}
.hamburgerCheck:checked~.navWrapper > .navList {
	opacity: 1;
  display: grid;
	list-style: none;
}
.hamburgerCheck:checked~.hamburgerIcon > span {
	transform: translateY(6px) rotate(45deg);
}
.hamburgerCheck:checked~.hamburgerIcon > span:last-child {
	transform: translateY(-6px) rotate(-45deg);
}
/* 햄버거 메뉴 ---------> */
.subMenuItems {
	list-style: none;
	text-decoration: none;
}
@media screen and (min-width: 1024px) {
	.subMenuList {
		display: block;
	}
}
