.list {
  display: grid;
  margin: 0;
  /* https://css-tricks.com/responsive-layouts-fewer-media-queries/ */
  --w: 280px;
  --n: 2;
  gap: var(--size-gap);
  grid-template-columns: repeat(
    auto-fit,
    minmax(max(var(--w), 100%/ (var(--n) + 1) + 0.1%), 1fr)
  );
  margin-bottom: var(--size-gap);
  margin-top: var(--size-gap);
}
.textCenter {
  text-align: center;
}
.pageArrow {
	display: none;
	position: fixed;
	z-index: 100;
	background-color: transparent;
	bottom: 20px;
	left: 50vw;
}
.photoMenuContainer {
	display: grid;
	grid-template-rows: 1fr 1fr;
}
.photoMenu {
	position: relative;	
}
.photoContainer {
	display: flex;
	overflow: hidden;
}
.photo {
	transform: scale(1.0);
	transition: all .5s ease-in-out;
	height: 100vh;
}
.intro {
  width: 40%;
	position: absolute;
	top: 3rem;
  left: 3rem;

  padding: 1rem;

  background-color: rgba(0, 0, 0, 0.5);
}
@media screen and (min-width: 1024px) {
  .intro {
    width: 100%;
    height: 100%;

    top: 0;
    left: 0;

    padding: 3rem;

    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;

    opacity: 0;
    transition: all 0.5s ease-in-out;
  }
}
.introTitle {
  margin-bottom: 1rem;
  color: white;
}
@media screen and (min-width: 1024px) {
  .introTitle {
    margin-bottom: 3rem;
    font-size: 4rem;
  }
}
.intro > p {
	color: white;
}
@media screen and (min-width: 1024px) {
  .intro > p {
    font-size: 1.25rem;
  }
} 
.photoContainer:hover > .photo {
	transform : scale(1.05);
}
.photoContainer:hover > .intro {
  opacity: 1;
}