.list {
  display: grid;
  margin: 0;
  /* https://css-tricks.com/responsive-layouts-fewer-media-queries/ */
  --w: 280px;
  --n: 2;
  gap: var(--size-gap);
  grid-template-columns: repeat(
    auto-fit,
    minmax(max(var(--w), 100%/ (var(--n) + 1) + 0.1%), 1fr)
  );
  margin-bottom: var(--size-gap);
  margin-top: var(--size-gap);
}
.textCenter {
  text-align: center;
}
.intro {
  max-width: none;
  line-height: var(--line-height-loose);
}


.pageArrow {
	position: fixed;
	z-index: 100;
	background-color: transparent;
	bottom: 20px;
	left: 50vw;
}
.photoMenu {
	display: grid;
	grid-template-rows: 1fr 1fr;
}
.menu {
	position: relative;
}
.menuContainer {
	display: flex;
}
.menu img {
	width: 100vw;
	height: 100vh;
}
.introduction {
	position: absolute;
	top: 0;
	left: 0;
}
.introduction p {
	color: white;
}