.contentsWrapper {
	padding: 1.5rem;
}
@media screen and (min-width: 768px) {
	.contentsWrapper {
		padding: 3rem;
	}
}

.carouselWrapper {
	overflow: hidden;
	position: relative;
	width: 100%;
}
.carouselContainer {
	display: flex;
}
.carouselImage {
	/* img 태그에서의 object-fit: contain을 대체(IE 호환성) */
	background-position: 50% 50%;
	background-size: contain;
	background-repeat: no-repeat;
	
	/* flex 컨테이너의 크기를 넘지 않게 하기 위해 최소로 줄어드는 상황 방지 */
	flex: none;
	
	max-width: 100%;
	max-height: 50vw;
	
	display: flex;
	align-items: center;
}
.carouselArrowWrapper {
	position: absolute;
	top: 0;
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	align-items: center;
	width: 15%;
	height: 100%;
}
.carouselArrowWrapper:first-child {
	left: 0;
}
.carouselArrowWrapper:last-child {
	right: 0;
}
.carouselArrow {
	color: #888;
	transition: 0.5s;
}
.carouselArrow:hover {
	color: #111;
}
p { 
	max-width: none;
}